<footer class="footer">
	<small>
		<%= link_to "Ruby on Rails Tutorial", '#' %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact us", contact_path %></li>
			<li><%= link_to "News", 'http://www.news.com' %></li>
		</ul>
	</nav>
</footer>